@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

header.main {
  position: relative;
  height: 100vh;
  width: 100%;
  background-color: black;
  background-image: url("/header/background.jpg");
  background-position: bottom;
  background-size: 81em;
  background-repeat: no-repeat;
}

header.main > div {
  position: absolute;
  bottom: 16em;
  left: 0;
  right: 0;
  margin: 0 auto;
  padding: 0 10px;
  width: clamp(100%, 100%, 656px);
}

header.main > div > h1 {
  font-family: "Press Start 2P", cursive;
  text-align: center;
}

header.main > div > h1::after {
  content: "";
  padding: 10px 0 2px;
  border-right: var(--color-light) 3px solid;
  animation: blink 1s infinite linear;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}

header.main > div > h2 {
  font-weight: 300;
  margin: 0 auto;
  width: fit-content;
  background: radial-gradient(
    50% 50% at 50% 50%,
    var(--secundary-color) 0%,
    var(--main-color) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}

header.main > div > p {
  text-align: center !important;
  width: var(--container-size);
  margin: 0 auto;
}
