section.main > div:first-of-type {
  background-color: var(--color-light);
  color: var(--color-dark) !important;
  padding-top: 25px;
  padding-bottom: 20px;
}

/* EDITANDO ESTILO DO COMPONENTE SLIDE*/
section.main [data-slide="portfolio"] {
  --slide-width: 1000px;
  --margin-x: auto;
  --arrow-X: -40px;
}
/* FIM DA EDICAO DO COMPONENTE SLIDE */

.slide {
  display: flex;
}

.slide picture {
  align-self: center;
}

.slide picture > img {
  width: 300px;
}

.slide > div {
  position: relative;
  width: 100%;
  margin-left: 25px;
  padding-bottom: 25px;
}

.slide > div > h3 {
  font-weight: 400;
  text-align: center;
}

.slide > div > p {
  width: 100%;
  padding: 0;
}

.slide > div > ul {
  margin-left: 30px;
  margin-bottom: 20px;
}

.slide > div button {
  position: absolute;
  bottom: 0;
  left: calc(50% - 40px);
  display: block;
  margin: 0 auto;
  color: white;
}

@media only screen and (max-width: 1120px) {
  section.main [data-slide="portfolio"] {
    --arrow-X: 15px;
  }
}

@media only screen and (max-width: 1050px) {
  section.main [data-slide="portfolio"] {
    --slide-width: 100%;
  }
  .slide {
    width: 100vw;
    padding-right: 50px;
  }
}

@media only screen and (max-width: 750px) {
  .slide > picture > img {
    width: 250px;
  }
}

@media only screen and (max-width: 650px) {
  .slide {
    padding-right: 30px;
  }
  .slide > div {
    margin-left: 10px;
  }
}

@media only screen and (max-width: 550px) {
  section.main > div:first-of-type {
    padding-top: 0;
  }
  .slide {
    display: block;
  }
  .slide {
    width: 100vw;
    padding-right: 50px;
  }
  .slide > div {
    margin-left: 20px;
  }

  .slide > picture > img {
    width: 100vw;
    height: 300px;
    object-fit: cover;
  }
}
