section.main {
  background-image: url(/main/skills_background.jpg);
  background-size: cover;
}

section.main > div {
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(23, 23, 23, 0.85) 0%,
    rgba(23, 23, 23, 0.425) 100%
  );
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(2px);
  margin: -30px 0 -20px;
  padding: 30px 0 20px;
}

section.main > div > div {
  overflow-x: auto;
}

section.main > div > div > ul {
  display: flex;
  flex-wrap: wrap;
  width: var(--container-size);
  margin: 0 auto;
}

section.main > div > div > ul > li {
  display: inline-grid;
  grid-template-columns: 0.3fr 1fr 1fr;
  position: relative;
  list-style: none;
  width: 50%;
  font-size: var(--h4-font-size);
  margin: 0.5rem 0;
  padding: 0 20px;
}

section.main > div > div > ul > li > img {
  max-width: calc(var(--h4-font-size) * 1.5);
  vertical-align: middle;
  margin-right: 10px;
}

section.main > div > div > ul > li > span {
  display: inline-block;
  justify-self: self-end;
  font-style: italic;
}

section.main > div > div > ul > li:nth-of-type(2n + 1) > span {
  color: var(--main-color);
}
section.main > div > div > ul > li:nth-of-type(2n + 0) > span {
  color: var(--secundary-color);
}

@media only screen and (max-width: 500px) {
  section.main > div > div > ul {
    width: 200vw;
  }

  section.main > div > div > ul > li {
    width: 100vw;
    padding: 0 50px;
  }
}
