div.main {
  --slide-width: 100%;
  --margin-x: 0px;
  --margin-y: 0px;
  --nav-display: block;
  --nav-color: var(--color-dark);
  --nav-opacity: 0.5;
  --nav-opacity-hover: 1;
  --arrow-display: var(--nav-display);
  --arrow-Y: calc(50% - 35px);
  --arrow-X: 20px;

  position: relative;
  margin: var(--margin-y) var(--margin-x);
  width: var(--slide-width);

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

div.main img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

div.main > div:first-of-type {
  margin: 0 auto;
  width: var(--slide-width);
  /* width: calc(100% - var(--margin-x) * 2); */
  overflow-x: hidden;
}

div.main > div:first-of-type > div {
  display: flex;
  width: max-content;
  margin: 0 auto;
}

div.main > div:first-of-type > div > section {
  position: relative;
  width: var(--slide-width);
  margin: 0 auto;
}

.eclipse {
  display: var(--nav-display);
  width: fit-content;
  margin: 20px auto 0;
}

.eclipse > span {
  display: inline-block;
  height: 15px;
  width: 15px;
  background-color: var(--nav-color);
  border-radius: 50%;
  margin: 0 5px;
  opacity: var(--nav-opacity);
}

.eclipse > span:hover,
.arrow:hover {
  opacity: var(--nav-opacity-hover);
  cursor: pointer;
}

.arrow {
  position: absolute;
  top: calc(50% - 35px);
  border-style: solid;
  border-width: 0 5px 5px 0;
  border-color: var(--nav-color);
  display: var(--arrow-display);
  padding: 1.25em;
  opacity: var(--nav-opacity);
}
.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  left: var(--arrow-X);
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  right: var(--arrow-X);
}
